@keyframes menu_item_hover_animation {
	from {
		background-color: rgba(1, 20, 47, 0.6);
		color: white;
	}
	to {
		background-color: rgba(255, 255, 255, 0.3);
		color: black;
	}
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #01142F;
}


main {
	margin-top: 10vh;
}

header {
	position: fixed;
}

header, footer {
	top: 0;
	z-index: 1000;
	background-color: #5b60c7;
	height: 10vh;
	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: row;
}

.header_img{
	width: 20%;
	height: 80%;
	background-image: url(./images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

header hr {
	height: 80%;
	width: 1px;
	border-radius: 2px;
	background-color: #FFC11E;
}

nav {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.nav_item {
	min-width: 12%;
	min-height: 60%;
	margin: auto 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: mintcream;
	background-color: rgba(1, 20, 47, 0.6);
	border-radius: 10% 10% 10% 10% / 30% 30% 30% 30%;
	text-align: center;
	font-size: 1rem;
}

.nav_item:hover {
	background-color: rgba(255, 255, 255, 0.3);;
	color: black;
	animation-name: menu_item_hover_animation;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	transition: 0.2s;
	transform: scale(1.1);
}

footer > a {
	font-size: 1rem;
	color: white;
}

@media all and (max-aspect-ratio: 13/10) {

	.main_page {
		background-image: url(./images/menu/home.svg);
	}

	.shop_page {
		background-image: url(./images/menu/shop.svg);
	}

	.server_page {
		background-image: url(./images/menu/minecraft.svg);
	}

	.news_page {
		background-image: url(./images/menu/news.svg);
	}

	.nav_item, .nav_item:hover {
		font-size: 0rem;
		height: 50%;
		margin: auto;
		background-repeat: no-repeat;
		background-color: transparent;
		animation: none;
	}

	.header_img, header hr {
		display: none;
	}

	header, footer {
		height: 8vh;
	}

	main {
		margin-top: 8vh;
	}
}