
body {
	overflow-x: hidden;
}

.hello {
	background-image: url(./images/tailer_derden.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	width: 100%;
	height: 100vh;
	line-height: 161%;
	text-align: center;
	font-size: 10vw;
	color: darkmagenta;
	display: flex;
	align-items: center;
	justify-content: center;
}

.animated {
	opacity: 1;
}

.about {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.port_container {
	height: 20%;
	width: 100%;
	position: relative;
}

.about_item {
	position: absolute;
	width: 70%;
	height: 100%;
	background-color: rgb(195, 0, 255);
	font-size: 3vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.about_item a{
	text-decoration: none;
	text-shadow: 0.4vw 0.4vh 0px rgb(108, 93, 221);
	color: rgb(0, 255, 34);
}